<nav>
	<div class="nav-wrapper blue">
	  <div class="container">
	  <a [routerLink] ="['/home']" class="brand-logo">My Coach App</a>
	  </div>
	  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  <ul class="right hide-on-med-and-down">
		  <ng-container *ngIf= "!authService.loggedIn() else loggedIn">
			<li><a [routerLink] ="['/login']">Login</a></li>
			<li><a [routerLink] ="['/register']">Register</a></li> 
		  </ng-container>
		  <ng-template #loggedIn>
			<li><a (click) = "authService.logOut()">Logout</a></li> 
		  </ng-template>
	  </ul>
	</div>
</nav>
<div  class="title_page">
	<div class="flow-text">{{ titlePage }}</div>
</div>


  
<ul class="sidenav" id="mobile-demo">
	<ng-container *ngIf= "!authService.loggedIn() else loggedIn2">
		<li><a [routerLink] ="['/login']">Login</a></li>
		<li><a [routerLink] ="['/register']">Register</a></li>
	</ng-container>
	<ng-template #loggedIn2>
		<li><a (click) = "authService.logOut()">Logout</a></li> 
	  </ng-template>
</ul>
