<app-my-nav-menu [titlePage]="title"></app-my-nav-menu>
<!-- <img class="responsive-img homeimg" src="./assets/f2.jpg"> -->
<div class="mobile">
	<div class="row">
		<div class="col s6 m5">
		  <div class="card-panel teal">
			<span class="white-text">Hello friend!, Welcome to the world of exercise routines!
			</span>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col s6 offset-s6">
		  <div class="card-panel white">
			<span class="black-text">What is that?
			</span>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col s6 m5">
		  <div class="card-panel teal">
			<span class="white-text">It is a demo project. Here you can connect your learners to a personalized routine!
			</span>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col s6 offset-s6">
		  <div class="card-panel white">
			<span class="black-text">But I am not a coach! -.-
			</span>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col s6 m5">
		  <div class="card-panel teal">
			<span class="white-text">
				hahaha ok no problem you can also subscribe to a coach as his learner
			</span>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col s6 offset-s6">
		  <div class="card-panel white">
			<span class="black-text"> ok i will take a look =)
			</span>
		  </div>
		</div>
	</div>
</div>
            
