<app-my-nav-menu [titlePage]="title"></app-my-nav-menu>
<div class="col s7" *ngIf="routines">
	<table class="responsive-table">
		<thead>
			<th>Name</th>
			<th>Exercise</th>
			<th>Days</th>
		</thead>
		<tbody>
			<tr *ngFor="let routine of routines" >
				 <td>{{ routine.name | titlecase}}</td>
				<!-- <td>{{ routine.exercise }}</td> -->
				<td>
					<a *ngFor="let exercise of routine.exercises"
					[routerLink] ="['/exercise-detail', exercise?._id]" >
						{{ exercise?.name}} |
					</a>
				</td>
				<td>
					<table class="responsive-table">
						<tr *ngFor="let day of routine.days | keyvalue">
							<td *ngIf="day.value">
								{{ day.key | titlecase}}
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
